{% extends "base.html" %}
{% block title %}Portfolio manager{% endblock %}
{% block content %}
{% include "navbar.html" %}
<div class="container p-4">
  
  <div class="row">
    <div class="col-md-4 offset-md-4 my-auto">
      <div class="card mb-5">
        <div class="card-header">
          <h5 class="card-title text-center">Portfolio users manager</h5>
          <form action="/users" method="POST">
            <div class="mb-3">
              <input type="text" name="username" placeholder="Nombre" class="form-control" autofocus>
            </div>
            <div class="mb-3">
              <input type="text" name="email" placeholder="Email" class="form-control" autofocus>
            </div>
            <div class="mb-3">
              <input type="text" name="password" placeholder="Contraseña" class="form-control" autofocus>
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-outline-dark">
                Add user
              </button>
            </div>

          </form>
        </div>
        <div class="card-body">
          {% for user in users %}
          <ul class="list-group">
            <li class="list-group-item">{{user.username}}</li>
            <li class="list-group-item">{{user.email}}</li>
          </ul>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3">
            <a href="{{ url_for('update', id=user._id) }}" class="btn btn-secondary btn-sm" type="button"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="{{ url_for('delete', id=user._id) }}" class="btn btn-danger btn-sm" type="button"><i class="fa-solid fa-trash-can"></i></a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}